/**************** Общая сетка *************************/

@font-face {
    font-family: Cuprum-Regular;
    src: local("Cuprum-Regular"),
         url(../fonts/Cuprum/Cuprum-Regular.ttf);
}

@font-face {
    font-family: Cuprum-Italic;
    src: local("Cuprum-Italic"),
         url(../fonts/Cuprum/Cuprum-Italic.ttf);
}

@font-face {
    font-family: Cuprum-BoldItalic;
    src: local("Cuprum-BoldItalic"),
         url(../fonts/Cuprum/Cuprum-BoldItalic.ttf);
}

@font-face {
    font-family: Cuprum-Bold;
    src: local("Cuprum-Bold"),
         url(../fonts/Cuprum/Cuprum-Bold.ttf);
}


*{
	box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row:before,
.row:after,
.container:before,
.container:after,
.clearfix:before,
.clearfix:after{
    display: table;
    clear: both;

    content: '';
}

body{
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: normal;
	font-family: Cuprum-Regular, PTSans Regular;
}

h1{
	font-size: 30px;
	line-height: 30px;
	color: #576376;
	font-weight: normal;
	font-family: Cuprum-Regular;
	text-transform: uppercase;
}

h2{
	font-size: 24px;
	line-height: 42px;
	color: #000;
	font-weight: normal;
	font-family: Cuprum-Regular;
	text-transform: uppercase;
}

.page-wrapper{
    width: 100%;
    margin: 0 auto;
}

.page-header{
    width: 100%;
    color: white;

    background-color: #293449;
}

.container{
	box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
    padding: 0 10px;
}

.page-content{
    width: 100%;
    background-color: white;
}

.row{
	padding: 10px 0;
    margin: 0 -10px;
}

.col1, .col2, .col3, .col4,
.col5, .col6, .col7, .col8,
.col9, .col10, .col11, .col12 {
    float: left;
    padding: 0 10px;
}

.col1{
	width: 8.33%;
}

.col2{
	width: 16.66%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33%;
}

.col5 {
    width: 41.66%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.33%;
}

.col8 {
    width: 66.66%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33%;
}

.col11 {
    width: 91.66%;
}

.col12 {
    width: 100%;
}

.col-offset-2 {
    margin-left: 8.33%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.page-footer{
	padding: 0;

	width: 100%;
	color: white;

	background-color: black;
}

/**************** Отдельные общие элементы *************************/

ul{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.popup{
	display: none;
}


/**************** index *************************/

main{

}

main > div:first-child{
	padding-bottom: 65px;
}

.page-content{
	padding-top: 50px;
	padding-bottom: 75px;
}

.category-intro{
	position: relative;
	width: 300px;
	height: 122px;
	padding-top: 23px;
	padding-left: 22px;
	font-size: 23px;
	color: white;
	background-color: green;
}

.category-intro > .btn{
	position: absolute;
	bottom: 22px;
	left: 24px;
	width: 135px;
	height: 37px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
}

.category-intro.yellow{
	background: #f6b22d url("../img/formenu/yellow.png") no-repeat 212px 50%;
}

.category-intro.blue{
	background: #4aafde url("../img/formenu/blue.png") no-repeat 198px 50%;
}

.category-intro.pink{
	background: #cc79d1 url("../img/formenu/pink.png") no-repeat 85% 50%;
}

.category-intro.green{
	background: #85d179 url("../img/formenu/green.png") no-repeat 85% 50%;
}

.category-intro.orange{
	margin-top: 20px;
	background: #f6b22d url("../img/formenu/orange.png") no-repeat 85% 50%;
}

.slider{
	width: 620px;
	height: 265px;
	overflow: hidden;
}

.slide{
	position: relative;
	width: 100%;
	height: 265px;
	padding-left: 25px;
}

.slide-header{
	color: white;
}

.slide-header h2{
	margin-bottom: 0px;
	color: white;
}

.slide-header h4{
	margin-top: 0px;
	color: white;
}

.slide .btn{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.slide1{
	background-image: url("../img/slider/img-slider-2.jpg");
	background-repeat: no-repeat;
}

.slide2{
	background-image: url("../img/slider/img-slider-1.jpg");
	background-repeat: no-repeat;
}

.info-blocks{
	padding-bottom: 20px;
}

.popular-header{
	position: relative;

	padding-right: 28px;
	margin-top: 25px;
	margin-bottom: 20px;
	height: 88px;
	line-height: 34px;

	background-color: #f7f3ec;
}

.popular-header h2{
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 24px;
	padding-top: 22px;
	width: 50%;
	font-family: Cuprum-Regular;
	text-transform: uppercase;
	font-size: 30px;
}

.popular-header .btn{
	margin-top: 25px;
}

.btn{
	display: block;

	width: 220px;
	height: 37px;
	font-size: 16px;
	line-height: 39px;

	text-align: center;
	color: white;
	text-transform: uppercase;
	border-radius: 3px;
}

.btn-red{
	background-color: #ee3643;
}

.btn-long{
	width: 253px;
}

.content-items{
	font-size: 0px;
	text-align: center;
}

.content-items > article{
	display: inline-block;
	width: 220px;
	margin-left: 20px;
	border: 1px solid #e5e5e5;
	vertical-align: top;
	min-height: 318px;
	font-size: 18px;
}

.content-items > article:nth-child(4n+1){
	margin-left: 0;
}

.item-price-old{
	display: block;
	margin-top: 10px;
	text-decoration: line-through;
}

.item-price-new{
	position: absolute;
	bottom: 20px;
	left: 40px;
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 38px;
	line-height: 38px;
	color: white;
	background-color: #ee3643;
}

.item-price-new:after{
	content: '';
	position: absolute;
	top: 0;
	right: -39px;
	border: 19px solid transparent;
	border-left: 20px solid #ee3643;
}

.content-brands{
	font-size: 0px;
	text-align: center;
}

.content-brands > a.brand{
	display: inline-block;
	width: 220px;
	height: 144px;
	margin-left: 20px;
	border: 1px solid grey;
	vertical-align:  top;
	margin-bottom: 20px;
}

.content-brands > a.brand:nth-child(4n+1){
	margin-left: 0;
}

.brand{
	background-color: white;
	line-height: 135px;
	display: table-cell;
	vertical-align: middle;
}

.brand:hover{
	cursor: pointer;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.brand:active{
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	opacity: 0.4;
}

.item-card{
	position: relative;
	height: 316px;
}

.item-img-wrap{
	width: 100%;
	height: 160px;
	line-height: 160px;
	background-color: white;
}

.item-name{
	line-height: 20px;
	margin-bottom: 10px;
}

.item-img-wrap > img, .brand > img{
	max-width: 100%;
	vertical-align: middle;
}

.content-row.services{
	padding-top: 35px;
}

.services{
	padding-bottom: 15px;
	background-color: #f2f6f8;
}

.services-tabs{
	margin-top: 36px;
	width: 100%;
	min-height: 300px;
}

.tabs-nav{
	padding: 30px 0;
	margin-right: -20px;
	list-style: none;
}

.tabs-nav ul{
	width: 100%;
}

.tabs-nav li a{
	padding-left: 20px;
	color: white;
	display: block;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	background-color: #32425c;
	border-bottom: ;
}

.tabs-nav li.active a{
	color: #32425c;
	background-color: white;
}

.tabs-body{
	position: relative;
	padding-left: 85px;
	overflow: hidden;
	height: 300px;
}

.tab{
	display: none;
	position: absolute;
	width: 100%;
	min-height: 100%;
	height: 300px;
}

.tab.active{
	display: block;
}

.delivery{
	background: url("../img/service-delivery.png") 150px 52px no-repeat;
}

.guarantee{
	background: url("../img/service-guarantee.png") 150px 52px no-repeat;
}

.credit{
	background: url("../img/service-credit.png") 150px 52px no-repeat;
}

.descr{
	width: 100%;
	padding-top: 40px;
}

.descr h2{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
}

.descr p + p{
	margin-top: 25px;
	margin-bottom: 10px;
}

.map + .btn{
	margin-top: 34px;
	width: 100%;
}

.auto{
	padding-left: 35px;
	font-size: 18px;
	list-style: none;
}

.auto li{
	position: relative;
}

.auto li:before{
	position: absolute;
	top: 19px;
	left: -35px;
	content: "";
	display: block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.auto + .btn{
	margin-top: 26px;
}

.descr-left{
	float: left;
}

.contacts-right{
	float: right;
	margin-left: 9%;
}

.map{
	margin-top: 30px;
}

.big-map-wrap{
	display: none;
}

.auto li{
	line-height: 40px;
}

/**************** Общие части *************************/

/********* header **********/

.header-top{
	height: 42px;
	line-height: 42px;

	background-color: rgba(0,0,0,0.2);
}

.logo{
	box-sizing: border-box;
	float: left;
	width: 220px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 26px;

	background-color: #ee3643;
	box-shadow: 0px 5px 0px #b52933;
}

form.search{
	float: left;
	width: 270px;
}

form.search > *{
	float: right;
	margin-top: 10px;
}

form.search .search-input{

}

.info-panel{
	float: right;
}

.info-panel .info-cart, .info-panel .info-bookmarks, .info-panel .order-btn{
	box-sizing: border-box;
	float: left;
	padding-right: 30px;
	width: 150px;
	text-align: right;
}

.header-mid{
	width: 100%;
	padding-bottom: 65px;
	background-color: #f1f5f7;
}

.header-desc{
	padding-top: 20px;
	padding-left: 50px;
	color: #ee434f;
	font-family: PTSans;
	font-style: italic;
	font-size: 17px;
}

.header-contacts{
	padding-top: 36px;
	color: #32425c;
}

.header-contacts .phone{
	width: 270px;
	padding: 8px;
	padding-left: 37px;
	margin-bottom: 5px;
	font-size: 22px;
	border: 2px solid grey;
	text-align: center;
	color: #e9292a;
}

.header-contacts span{
	margin-left: 8px;
}

.no-auth{
	margin-top: 37px;
	color: #32425c;
}

.no-auth > *{
	display: inline-block;
	float: right;
	line-height: 44px;
	font-size: 20px;

	color: grey;
	background-color: white;
}

.account .registration{
	width: 150px;
	margin-left: 10px;
	padding-left: 24px;
}

.account .enter{
	width: 120px;
  	padding-left: 46px;
}

.main-menu{
	margin-top: 12px;
	box-shadow: 0px 5px 0px #293449;
}

.main-menu-list{
	display: table;
	width: 100%;
	line-height: 55px;
	font-size: 17px;
	list-style: none;

	background-color: #32425c;
}

.main-menu li{
	display: table-cell;
}

.main-menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 0 30px;
}

/****** footer ********/

.footer-contact{
	clear: both;
	padding-top: 32px;
	font-size: 18px;
	padding-left: 2px;
}

.footer-top{
	padding-bottom: 50px;
	background-color: #32425c;
}

.footer-bottom{
	width: 100%;
	padding: 16px 0;
	background-color: #293449;
}

.page-footer .col7{
	padding: 0;
}

.menus{
	margin-top: 37px;
}

.footer-info .logo{
	height: 63px;
  	line-height: 65px;
  	font-size: 32px;
}

.footer-menu-list, .footer-bottom-menu-list{
	display: table;
	width: 100%;
	list-style: none;
	margin-top: 34px;
}

.footer-menu-list a{
	color: white;
}

.footer-bottom-menu-list a{
	color: #d6b479;
}

.footer-menu-list li, .footer-bottom-menu-list li{
	display: table-cell;
	font-size: 18px;
}

.footer-menu-list li{
	padding-left: 19px;
}

.footer-bottom-menu-list li{
	padding-left: 39px;
}

.social{
	  display: table;
	  margin: auto;
	  margin-top: 20px;
	  position: relative;
	  left: -10px;
}

.social ul{
	list-style: none;
}

.social li{
	float: left;
	margin-left: 5px;
}

.social a{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}

.social .vk{
	background: url("../img/icons/social-vk.jpg") 50% 50% no-repeat;
}

.social .fb{
	background: url("../img/icons/social-fb.jpg") 50% 50% no-repeat;
}

.social .in{
	background: url("../img/icons/social-in.jpg") 50% 50% no-repeat;
}


.social li:first-child{
	margin-left: 0px;
}

.footer-top .row{
	padding: 0;
}